html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;

    display: flex;

    flex-direction: row;



}



.leftside{

    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 100px; */
}


.rightside{
    /* background-color:rgba(250, 235, 215, 0.396); */
    border: 1px solid gray;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100px; */
}

.loginpanel{
    height: 90%;
    width: 90%;
    background-color:lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.inputfield{
    background-color: aliceblue;
    width: 80%;
    height: 50px;
    margin: 10px;
}

h1 #title{
    margin-top: 0px;
}
h2{
    margin-bottom: 0px;
}