
.container{
    width: 7%;
    background-color:lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    
}

.container:hover{
    width: 20%;
}


.menuItem{
    border: 1px solid white;
    margin: 5px;
    height: 60px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    
}

.menuItem:hover{
    background-color: lightslategray;
}