html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h3{
    padding: 0px;
    margin: 0px;
    background-color: aquamarine ;
    display: flex;
    justify-content: center;
}