/* Planner.module.css */

.container {
  display: flex;
  justify-content: space-evenly;
  /* height: 100vh;  */
  width: 100%;
  background-color: #f8f9fa;
  max-height: 100%;
  overflow-y: scroll;
  }
  
  .plannerHeader {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  